body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 250, 240);
  }
  
  header {
    background-color: #811010;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }


  .logo-img {
    width: 300px;
    height: auto;
  }

  .logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #00ccff;
  }
  
  main {
    padding: 10px 30px;
  }
  